<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8"  >
<title>Insert title here</title>
<div th:replace="header :: headerBlock"></div>
</head>
<body>

	<div class="container">
	
	
		<br>
		<div class="col-sm-3 py-2"></div>
		<div class="5 py-2">
		
		
			<h2>LOGIN</h2>
			<div  class="card bg-info text-white h-200">
			
				<div class="card-body">
					<form action="/br.com.projetoSamiavet/efetuarLogin" th:object="${usuario}" method="post">
					
					
						<input name="login" class="form-control" placeholder="Usuario">
						<input type="password" name="senha" class="form-control" placeholder="Senha">
						
						<button class="btn btn-primary btn-block" type="submit">ENTRAR</button>
					
					
					</form>
				
				</div>
			
			</div>
		
		
		</div>
	
	
	</div>

</body>
</html>